[submodule "extern/libjpeg-turbo"]
	path = extern/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
[submodule "extern/libpng"]
	path = extern/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "extern/zlib-ng"]
	path = extern/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
